<!-- <h1>{{item}}</h1> -->
<!-- <div class="custom-container mt-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="accordion mt-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Stops
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="accordion1 ">
                <div class="row">
                  <div class="col-lg-4">
                    <h6><input type="checkbox" name="checked" id="checked" (click)="stopeg1()"> 0 Stop</h6>
                    <h6><input type="checkbox" name="checked" id="checked" (click)="stopeg()"> 1 Stop</h6>
                  </div>
                  <div class="col-lg-6"></div>
                  <div class="col-lg-2">
                    <h6>$62.5</h6></div>
                </div>
                
                
              </div>        
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Stops
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="accordion1 ">
                <div class="row">
                  <div class="col-lg-4">
                    <h6><input type="checkbox" name="checked" id="checked" (click)="stopeg1()"> 0 Stop</h6>
                    <h6><input type="checkbox" name="checked" id="checked" (click)="stopeg()"> 1 Stop</h6>
                  </div>
                  <div class="col-lg-6"></div>
                  <div class="col-lg-2">
                    <h6>$62.5</h6></div>
                </div>
                
                
              </div>             
                        </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Airlines
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="accordion1 ">
                <div class="row">
                  <div class="col-lg-4">
                    <h6><input type="checkbox" name="checked" id="checked" (click)="all()"> Vistara</h6>
                  </div>
                  <div class="col-lg-6"></div>
                  <div class="col-lg-2">
                    <h6>$62.5</h6></div>
                </div>
                
                
              </div>             
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
    




      <div class="container mt-5">
        <div class="row" *ngIf="display">
            <div class="col-lg-2">
                <img src="assets/img/vistara.png" alt="vistara" class="w-100">
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-3">
                        <h5>07:45 PM</h5>
                        <small>Delhi</small>
                        <small>Jan 11</small>
                    </div>
                    <div class="col-sm-5"><div class="flight-section-path"><div class="flight-section-path-fly-time"> 12h 35m </div> <div class="flight-section-path-line"></div> <div class="flight-section-path-line-start w-100"><div class="d-flex justify-content-between"><div class="flight-section-path-line-dot"></div><div class="flight-section-path-line-dot"></div><div class="flight-section-path-line-dot"></div></div> <div class="d-flex justify-content-between flight-section_airport_title_sec text-uppercase"><div class="flight-section-path-line-title">DEL</div> <div class="flight-section-path-line-title">BOM</div><div class="flight-section-path-line-title">IXC</div></div></div></div></div>
                    <div class="col-lg-3">
                        <h5>07:45 PM</h5>
                        <small>Delhi</small><br>
                        <small>Jan 11</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-md-6 align-items-center "><div class="results-item-book text-right"><div class="results-item-book_price"><div style="font-size: 12px; color: rgb(245, 0, 73); font-weight: 600;"></div> <span>$224<sup>.00</sup></span>+
                    <span>$20<sup>.58</sup></span> <span style="font-size: 12px;">(taxes)</span> =
                    <span class="totalprice">$244<sup>.58</sup></span> <div style="font-size: 12px; opacity: 0.7; text-align: right;">Final Total Price (incl. fees)</div></div> <button type="button" id="btnBookNow_0" class="btn btn-primary btn-block book_now_btn rounded-0 py-2">Select <i aria-hidden="true" class="fa fa-angle-right float-right mt-1"></i></button></div></div>
            </div>
        </div>


        <div class="row" *ngIf="display">
          <div class="col-lg-2">
              <img src="assets/img/vistara.png" alt="vistara" class="w-100">
          </div>
          <div class="col-lg-5">
              <div class="row">
                  <div class="col-lg-3">
                      <h5>07:45 PM</h5>
                      <small>Delhi</small><br>
                      <small>Jan 11</small>
                  </div>
                  <div class="col-sm-5"><div class="flight-section-path"><div class="flight-section-path-fly-time"> 12h 35m </div> <div class="flight-section-path-line"></div> <div class="flight-section-path-line-start w-100"><div class="d-flex justify-content-between"><div class="flight-section-path-line-dot"></div><div class="flight-section-path-line-dot"></div><div class="flight-section-path-line-dot"></div></div> <div class="d-flex justify-content-between flight-section_airport_title_sec text-uppercase"><div class="flight-section-path-line-title">DEL</div> <div class="flight-section-path-line-title">BOM</div><div class="flight-section-path-line-title">IXC</div></div></div></div></div>
                  <div class="col-lg-3">
                      <h5>07:45 PM</h5>
                      <small>Delhi</small><br>
                      <small>Jan 11</small>
                  </div>
              </div>
          </div>
          <div class="col-lg-5">
              <div class="col-md-6 align-items-center "><div class="results-item-book text-right"><div class="results-item-book_price"><div style="font-size: 12px; color: rgb(245, 0, 73); font-weight: 600;"></div> <span>$224<sup>.00</sup></span>+
                  <span>$20<sup>.58</sup></span> <span style="font-size: 12px;">(taxes)</span> =
                  <span class="totalprice">$244<sup>.58</sup></span> <div style="font-size: 12px; opacity: 0.7; text-align: right;">Final Total Price (incl. fees)</div></div> <button type="button" id="btnBookNow_0" class="btn btn-primary btn-block book_now_btn rounded-0 py-2">Select <i aria-hidden="true" class="fa fa-angle-right float-right mt-1"></i></button></div></div>
          </div>
      </div>


      <div class="row" *ngIf="display">
        <div class="col-lg-2">
            <img src="assets/img/vistara.png" alt="vistara" class="w-100">
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-3">
                    <h5>07:45 PM</h5>
                    <small>Delhi</small> <br>
                    <small>Jan 11</small>
                </div>
                <div class="col-sm-5"><div class="flight-section-path"><div class="flight-section-path-fly-time"> 12h 35m </div> <div class="flight-section-path-line"></div> <div class="flight-section-path-line-start w-100"><div class="d-flex justify-content-between"><div class="flight-section-path-line-dot"></div><div class="flight-section-path-line-dot"></div><div class="flight-section-path-line-dot"></div></div> <div class="d-flex justify-content-between flight-section_airport_title_sec text-uppercase"><div class="flight-section-path-line-title">DEL</div> <div class="flight-section-path-line-title">BOM</div><div class="flight-section-path-line-title">IXC</div></div></div></div></div>
                <div class="col-lg-3">
                    <h5>07:45 PM</h5>
                    <small>Delhi</small>
                    <small>Jan 11</small>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="col-md-6 align-items-center "><div class="results-item-book text-right"><div class="results-item-book_price"><div style="font-size: 12px; color: rgb(245, 0, 73); font-weight: 600;"></div> <span>$224<sup>.00</sup></span>+
                <span>$20<sup>.58</sup></span> <span style="font-size: 12px;">(taxes)</span> =
                <span class="totalprice">$244<sup>.58</sup></span> <div style="font-size: 12px; opacity: 0.7; text-align: right;">Final Total Price (incl. fees)</div></div> <button type="button" id="btnBookNow_0" class="btn btn-primary btn-block book_now_btn rounded-0 py-2">Select <i aria-hidden="true" class="fa fa-angle-right float-right mt-1"></i></button></div></div>
        </div>
    </div>


      <div class="row" *ngIf="stopers">
        <div class="col-lg-2">
            <img src="assets/img/vistara.png" alt="vistara" class="w-100">
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-3">
                    <h5>07:45 PM</h5>
                    <small>Delhi</small>
                    <small>Jan 11</small>
                </div>
                <div class="col-sm-5"><div class="flight-section-path"><div class="flight-section-path-fly-time"> 1h 30m </div> <div class="flight-section-path-line"></div> <div class="flight-section-path-line-start w-100"><div class="d-flex justify-content-between"><div class="flight-section-path-line-dot"></div><div class="flight-section-path-line-dot"></div></div> <div class="d-flex justify-content-between flight-section_airport_title_sec text-uppercase"><div class="flight-section-path-line-title">DEL</div> <div class="flight-section-path-line-title">IXC</div></div></div></div></div>
                <div class="col-lg-3">
                    <h5>07:45 PM</h5>
                    <small>Delhi</small>
                    <small>Jan 11</small>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="col-md-6 align-items-center "><div class="results-item-book text-right"><div class="results-item-book_price"><div style="font-size: 12px; color: rgb(245, 0, 73); font-weight: 600;"></div> <span>$69<sup>.00</sup></span>+
                <span>$58<sup>.58</sup></span> <span style="font-size: 12px;">(taxes)</span> =
                <span class="totalprice">$69<sup>.58</sup></span> <div style="font-size: 12px; opacity: 0.7; text-align: right;">Final Total Price (incl. fees)</div></div> <button type="button" id="btnBookNow_0" class="btn btn-primary btn-block book_now_btn rounded-0 py-2">Select <i aria-hidden="true" class="fa fa-angle-right float-right mt-1"></i></button></div></div>
        </div>
    </div>


    <div class="row" *ngIf="stopers">
      <div class="col-lg-2">
          <img src="assets/img/vistara.png" alt="vistara" class="w-100">
      </div>
      <div class="col-lg-5">
          <div class="row">
              <div class="col-lg-3">
                  <h5>07:45 PM</h5>
                  <small>Delhi</small>
                  <small>Jan 11</small>
              </div>
              <div class="col-sm-5"><div class="flight-section-path"><div class="flight-section-path-fly-time"> 1h 25m </div> <div class="flight-section-path-line"></div> <div class="flight-section-path-line-start w-100"><div class="d-flex justify-content-between"><div class="flight-section-path-line-dot"></div></div> <div class="d-flex justify-content-between flight-section_airport_title_sec text-uppercase"><div class="flight-section-path-line-title">DEL</div> <div class="flight-section-path-line-title">IXC</div></div></div></div></div>
              <div class="col-lg-3">
                  <h5>07:45 PM</h5>
                  <small>Delhi</small>
                  <small>Jan 11</small>
              </div>
          </div>
      </div>
      <div class="col-lg-5">
          <div class="col-md-6 align-items-center "><div class="results-item-book text-right"><div class="results-item-book_price"><div style="font-size: 12px; color: rgb(245, 0, 73); font-weight: 600;"></div> <span>$69<sup>.00</sup></span>+
              <span>$58<sup>.58</sup></span> <span style="font-size: 12px;">(taxes)</span> =
              <span class="totalprice">$69<sup>.58</sup></span> <div style="font-size: 12px; opacity: 0.7; text-align: right;">Final Total Price (incl. fees)</div></div> <button type="button" id="btnBookNow_0" class="btn btn-primary btn-block book_now_btn rounded-0 py-2">Select <i aria-hidden="true" class="fa fa-angle-right float-right mt-1"></i></button></div></div>
      </div>
  </div>


  <div class="row" *ngIf="stopers">
    <div class="col-lg-2">
        <img src="assets/img/vistara.png" alt="vistara" class="w-100">
    </div>
    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-3">
                <h5>07:45 PM</h5>
                <small>Delhi</small>
                <small>Jan 11</small>
            </div>
            <div class="col-sm-5"><div class="flight-section-path"><div class="flight-section-path-fly-time"> 1h 35m </div> <div class="flight-section-path-line"></div> <div class="flight-section-path-line-start w-100"><div class="d-flex justify-content-between"><div class="flight-section-path-line-dot"></div><div class="flight-section-path-line-dot"></div></div> <div class="d-flex justify-content-between flight-section_airport_title_sec text-uppercase"><div class="flight-section-path-line-title">DEL</div> <div class="flight-section-path-line-title">IXC</div></div></div></div></div>
            <div class="col-lg-3">
                <h5>07:45 PM</h5>
                <small>Delhi</small>
                <small>Jan 11</small>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="col-md-6 align-items-center "><div class="results-item-book text-right"><div class="results-item-book_price"><div style="font-size: 12px; color: rgb(245, 0, 73); font-weight: 600;"></div> <span>$69<sup>.00</sup></span>+
            <span>$58<sup>.58</sup></span> <span style="font-size: 12px;">(taxes)</span> =
            <span class="totalprice">$69<sup>.58</sup></span> <div style="font-size: 12px; opacity: 0.7; text-align: right;">Final Total Price (incl. fees)</div></div> <button type="button" id="btnBookNow_0" class="btn btn-primary btn-block book_now_btn rounded-0 py-2">Select <i aria-hidden="true" class="fa fa-angle-right float-right mt-1"></i></button></div></div>
    </div>
</div>
    </div>
    </div>
    
  </div>
</div>
 -->




